{
  "extends": [
    "fbjs",
  ],
  "rules": {
    "curly": ["error", "multi-line"],
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "max-len": ["error", { "ignoreStrings": true }]
  }
}
