.kubernetes {
  .tree {
    border: 1px solid;
    position: fixed;
    height: 100%;
    width: 30%;
    overflow: scroll;
  }

  .editor {
    border: 1px solid;
    margin-left: 30%;
    padding: 1px 16px;
  }
}
