@import "../../../variables.css";

$animation-duration: .3s;

.content {
  min-width: 0;
  flex-grow: 2;
  margin-left: 1em;


  /* -- editor -- */

  display: flex;
  flex-direction: column;

  .editor {
    flex-grow: 2;

    background-color: white;
    padding: 1em 1em 1em .75em;

    display: flex;
    & > :global(.react-monaco-editor-container) {
      flex: auto;
      min-width: 0;
    }
  }

  position: relative;
  overflow: hidden;

  .legend {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;

    td, th {
      font-size: 1.5em;
      padding: .1em .5em;
      color: lightgrey;
    }
  }


  /* -- tabs -- */

  .buttonGroup {
    margin-left: .5em;
  }
  
  .button {
    margin-left: .25em;
  }

  .tabText {
    display: inline-block;
    vertical-align: middle;
  }

  .tabTextMeta {
    font-size: .75em;
    font-weight: lighter;
    line-height: 1;
    color: $color-grey-500;
  }

  .tabTextName {
    line-height: 1.25;
  }

  :global {

    .ant-tabs.ant-tabs-editable-card {

      & > .ant-tabs-bar {
        margin: 0;

        .ant-tabs-nav-container {
          height: 38px; /* +6px */
        }

        .ant-tabs-extra-content {
          position: relative;
          top: 3px; /* +6px / 2 */

          .ant-tabs-new-tab {
            background-color: white;
            position: relative;
            top: 1px;
          }
        }

        .ant-tabs-tab {
          border-color: transparent;
          margin-right: 1px;
          padding-left: 8px;
          padding-right: 8px;

          color: $color-grey-600;
          :local {
            .tabModified { color: $color-red-300; }
            .tabDetached { color: $color-green-400; }
          }

          &:hover {
            padding-left: 16px;
            padding-right: 14px;

            .anticon-close {
              margin-left: 6px;
              width: 12px;
            }
          }

          .anticon-close {
            height: 11px;
          }
        }

        .ant-tabs-tab-active {
          border-color: white;
          padding-left: 8px;
          padding-right: 6px;

          color: $color-grey-800;
          :local {
            .tabModified { color: $color-red-900; }
            .tabDetached { color: $color-green-800; }
          }

          &:hover {
            padding-left: 8px;
            padding-right: 6px;
          }

          .anticon-close {
            margin-left: 6px;
            width: 12px;
          }
        }
      }

      & > .ant-tabs-content {
        display: none;
      }
    }
  }


  /* -- animated show/hide -- */

  & > :global(.ant-tabs),
  & > .editor {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity ease $animation-duration;
  }

  &.hideTabs > :global(.ant-tabs),
  &.hideEditor > .editor {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear $animation-duration, opacity ease $animation-duration;
  }
}
