@import '../../../variables.css';

.navigation {
  flex-shrink: 0;
  background-color: white;
  padding: 0 .75em 0 .5em;
  overflow-y: auto;

  :global {

    /* no excessive padding */
    .ant-tree {
      padding: 0;
    }

    /* transparent expand icons */
    .ant-tree.ant-tree-show-line li span.ant-tree-switcher {
      background-color: initial;
    }
  }
}

.spinner {
  text-align: center;
  min-width: 10em;
  padding: 1.5em 0 1em;
}

.controls {
  margin: 0 2px;
  padding: 5px 0 4px 0;
  border-bottom: 1px solid $color-grey-200;
}
