.catalog {
  display: flex;
  width: 100%;
  overflow-y: hidden;
}

.catalog__navigation {
  background-color: white;
  padding: 0 .75em 0 .5em;
  overflow-y: auto;

  .catalog__spinner {
    text-align: center;
    min-width: 10em;
    padding: 1.5em 0 1em;
  }

  // transparent expand icons
  // --------------------------

  .ant-tree.ant-tree-show-line li span.ant-tree-switcher {
    background-color: initial;
  }
}

.catalog__content {
  min-width: 0;
  flex-grow: 2;
  margin-left: 1em;


  // tabs
  // ---------

  .catalog__button {
    margin-left: .25em;
  }

  & > .ant-tabs.ant-tabs-editable-card {

    & > .ant-tabs-bar {
      margin: 0;

      .ant-tabs-tab {
        border-color: transparent;
        margin-right: 1px;

        .catalog__tab-modified { color: brown; }
        .catalog__tab-detached { color: green; }
      }

      .ant-tabs-tab-active {
        border-color: white;

        .catalog__tab-modified { color: lighten(brown, 10%); }
        .catalog__tab-detached { color: lighten(green, 10%); }
      }

      .ant-tabs-extra-content .ant-tabs-new-tab {
        background-color: white;
        position: relative;
        top: 1px;
      }
    }

    & > .ant-tabs-content {
      display: none;
    }
  }


  // full-height editor
  // --------------------

  display: flex;
  flex-direction: column;
  & > .react-monaco-editor {
    flex-grow: 2;

    // paddings around editor
    // ------------------------

    background-color: white;
    padding: 1em 1em 1em .75em;

    display: flex;
    & > .react-monaco-editor-container {
      flex: auto;
      min-width: 0;
    }
  }


  // animated show/hide for tabs and editor
  // ----------------------------------------

  $animation-duration: .3s;

  & > .ant-tabs,
  & > .react-monaco-editor {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity ease $animation-duration;
  }

  &.hide-tabs > .ant-tabs,
  &.hide-editor > .react-monaco-editor {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear $animation-duration, opacity ease $animation-duration;
  }
}
