.rbac {
  flex: auto;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.rbac__controls,
.rbac__legend,
.rbac__graph {
  padding: 1em;
  background-color: white;
}

.rbac__controls,
.rbac__legend {
  align-self: flex-start;
  max-width: 100%;
}

.rbac__controls {

  & > .rbac__controls-inner {
    overflow-x: auto;

    display: flex;
    align-items: center;

    & > .ant-radio-group {
      display: flex;

      & > .ant-radio-button-wrapper {
        white-space: nowrap;
      }
    }

    & > .rbac__controls-legend {
      margin-left: 2em;

      & > .ant-checkbox-wrapper {
        white-space: nowrap;
      }
    }
  }
}

.rbac__legend,
.rbac__graph {
  margin-top: 1em;
}

.rbac__legend {
  width: 680px
}

.rbac__graph {
  flex: auto;
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;

  .link {
    stroke: #aaa;
  }

  .node {
    text { fill: black; }
    circle { transform-origin: center; }

    &.Role,
    &.ClusterRole {
      circle {
        fill: cornflowerblue;
        stroke: darkblue;
      }
    }

    &.User,
    &.Group,
    &.ServiceAccount {
      circle {
        fill: yellowgreen;
        stroke: darkgreen;
      }
    }

    &.undefined,
    &.value {
      circle {
        fill: gray;
        stroke: black;
        transform: scale(.75);
      }
    }

    &.RoleBinding,
    &.ClusterRoleBinding,
    &.rule,
    &.key {
      text {
        fill: gray;
      }
      circle {
        fill: lightgray;
        stroke: gray;
        transform: scale(.5);
      }
    }
  }
}
