.rbac {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.rbac__controls,
.rbac__graph {
  padding: 1em;
  background-color: white;
}

.rbac__controls {
  align-self: flex-start;
}

.rbac__graph {
  margin-top: 1em;
  flex: auto;

  width: 100%;
  height: 100%;

  & > svg {
    width: 100%;
    height: 100%;

    .link {
      stroke: #aaa;
    }

    .node {

      &.Role,
      &.ClusterRole {
        circle {
          fill: cornflowerblue;
          stroke: darkblue;
        }
      }

      &.User,
      &.Group,
      &.ServiceAccount {
        circle {
          fill: yellowgreen;
          stroke: darkgreen;
        }
      }

      &.undefined,
      &.value {
        circle {
          fill: gray;
          stroke: black;
        }
      }

      &.RoleBinding,
      &.ClusterRoleBinding,
      &.rule,
      &.key {
        circle {
          fill: lightgray;
          stroke: gray;
        }
      }
    }
  }
}
