.layout {
  height: 100%;

  .ant-layout-header {
    padding: 0 2em;
    height: 4em;
    line-height: 4;
  }

  .logo {
    display: block;
    float: left;
    margin: 1em 1.5em 1em 0;
    height: 2em;
  }

  .menu {
    line-height: 4;
    border: none;
  }

  .content {
    padding: 1em;

    .canvas {
      background: white;
      padding: 1em;
    }
  }
}
