.layout {
  height: 100%;

  .ant-layout-header {
    padding: 0 2em;
    height: 4em;
    line-height: 4;
  }

  .ant-menu {
    line-height: 4;
    border: none;
  }

  .ant-layout-content {
    display: flex;
    padding: 1em;
  }
}

.layout__logo {
  display: block;
  float: left;
  margin: 1em 1.5em 1em 0;
  height: 2em;
}

.layout__content {
  width: 100%;
  height: 100%;
  background: white;
  padding: 1em;
}
