@global-import '../node_modules/sanitize.css/sanitize.css';
@global-import '../node_modules/antd/dist/antd.css';

:global {
  
  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  html,
  body,
  #root {
    height: 100%;
  }
}
